.default_page {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.title {
  text-align: center;
  margin-bottom: 5rem;
}
.loadingBox {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
